<section class="flex">
    <a href="./" class="logo">Assemblies Store</a>
    <nav class="navbar">
      <a href="./">Inicio</a>
      <a href="./pages/about/about.html">Acerca de nosotros</a>
      <a href="./pages/store/store.html">Tienda</a>
      <a href="./pages/orders/orders.html">Compras</a>
      <a href="./pages/off-sale/off-sale.html">Ofertas</a>
    </nav>
    <div class="icons">
      <a href="./pages/search/search.html"><i class="fas fa-search"></i></a>
      <a href="./pages/cart/cart.html"><i class="fas fa-shopping-cart"></i></a>
      <div id="user-btn" class="fas fa-user"></div>
      <div id="menu-btn" class="fas fa-bars"></div>
    </div>
    <div class="profile">
      <div class="profile-user-row">
        <img class="profile-avatar-mini" id="profile-avatar-mini" src="./assets/images/user-icon.png" alt="Avatar">
        <p class="name" id="profile-name-mini">Usuario</p>
      </div>
      <div class="flex">
        <a href="./pages/profile/profile.html" class="btn profile-btn-mini">Mi perfil</a>
        <a href="./pages/auth/login/login.html" class="delete-btn logout-btn-mini">Cerrar sesión</a>
      </div>
    </div>
  </section>
