<header class="header">
  <section class="flex">
    <a href="home.html" class="logo">Assemblies Store</a>
    <nav class="navbar">
      <a href="home.html">Inicio</a>
      <a href="about.html">Acerca de nosotros</a>
      <a href="menu.html">Tienda</a>
      <a href="orders.html">Compras</a>
      <a href="contact.html">Ofertas</a>
    </nav>
    <div class="icons">
      <a href="search.html"><i class="fas fa-search"></i></a>
      <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
      <div id="user-btn" class="fas fa-user"></div>
      <div id="menu-btn" class="fas fa-bars"></div>
    </div>
    <div class="profile">
      <div class="profile-user-row">
        <img class="profile-avatar-mini" id="profile-avatar-mini" src="../images/user-icon.png" alt="Avatar">
        <p class="name" id="profile-name-mini">Usuario</p>
      </div>
      <div class="flex">
        <a href="profile.html" class="btn profile-btn-mini">Mi perfil</a>
        <a href="#" class="delete-btn logout-btn-mini">Cerrar sesión</a>
      </div>
    </div>
  </section>
</header>
<script src="../js/header-profile.js"></script>
